{% extends 'base.html' %}
{% load static %}
{% block main-content %}
<h1 class="title has-text-centered has-text-white has-text-weight-bold is-1">Welcome to <span class="titan has-text-weight-light has-text-primary">Purple Pages</span></h1>
<p class="subtitle has-text-centered">Your online notice board for the community near you</p>
<!-- Search -->
<form action="{% url 'search' %}">
    <div class="field has-addons has-addons-centered pp-bottom-margin">
        <div class="control pp-wide-input">           
            <input class="input is-link is-large" type="text" name="search_string" placeholder="search our adverts..." value="{{ request.GET.search_string }}">               
        </div>
        <div class="control">
            <button class="button is-link is-large"><span class="icon"><i class="fas fa-search"></i></span></button>
        </div>
    </div>        
</form>
<!-- CTAs -->
<div class="level">
    <div class="level-item">
        <a href="{% url 'notice_boards' %}" class="button is-large is-link">Browse the Notice Boards</a>
    </div>
    <div class="level-item">
        <a href="{% url 'new_advert' %}" class="button is-large is-primary">Advertise on Purple Pages</a>
    </div>
</div>
{% if favourite_notice_board %}
<hr>
<div class="has-text-centered">
    <p class="tag is-large is-primary">
        <span class="icon is-large"><i class="fas fa-bookmark"></i></span>
        <span>Your Favourite <span class="is-hidden-mobile">Notice</span> Board</span>
        <span class="icon is-large"><i class="fas fa-arrow-down"></i></span>
    </p>
</div>    
<!-- Favourite Notice Board -->
<div class="level">
    <div class="level-left">
        <div class="level-item has-text-centered">            
            <h1 class="title has-text-left-tablet">
                <a href="{% url 'display_single_board' favourite_notice_board.pk %}">
                    <span class="icon has-text-primary is-large"><i class="fas fa-link"></i></span>
                </a>
                <br class="is-hidden-tablet">                
                <span class="has-text-weight-bold has-text-primary">{{ favourite_notice_board.post_code }}</span>
                 - {{ favourite_notice_board.name }}
            </h1>           
        </div>
    </div>
</div>
<div id="notice-board" class="card">        
    <div class="card-content">
        {% if adverts %}
        <div class="columns is-multiline">            
            {% for ad in adverts %}            
            <!-- Loop through ads and create column for each -->
            <div class="column is-half-tablet is-one-third-widescreen">
                {{ ad.render }}  
            </div>                                           
            {% endfor %}
        </div>
        {% else %}
            <p class="has-text-grey">Oops, no ads here yet...</p>      
        {% endif %}
    </div>
</div>  
{% else %}
<!-- Welcome content where no favourite notice board set -->
<hr>
<article class="content">
    <div class="columns is-centered">
        <div class="column is-three-quarters-tablet">
            <div class="card has-background-white-bis">
                <div class="card-header is-block-mobile">
                    <div class="card-header-icon">
                        <figure class="image is-64x64">
                            <img src="{% static 'img/PurplePagesIcon.png' %}" alt="Purple Pages Logo" class="">                            
                        </figure>
                    </div>                                     
                    <div class="card-header-title">                        
                        <p class="title has-text-centered-mobile pp-full-width">About Purple Pages</p>
                    </div>                                                
                </div>
                <div class="card-content">
                    <table id="about-purple-pages-table" class="table has-background-white-bis">
                        <tbody>
                            <tr>
                                <td class="is-hidden-mobile pp-right-padding">
                                    <span class="icon has-text-primary is-large"><i class="fas fa-3x fa-info-circle"></i></span>
                                </td>
                                <td class="has-text-centered-mobile">
                                    <p class="icon has-text-primary is-large is-hidden-tablet"><i class="fas fa-3x fa-info-circle"></i></p>
                                    <p class="subtitle">Purple Pages is a simple platform for advertising in your local community. It could be a business, social club, local notices or just about anything else.</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="is-hidden-mobile">
                                    <span class="icon has-text-primary is-large"><i class="fas fa-3x fa-map-marked"></i></span>
                                </td>
                                <td class="has-text-centered-mobile">
                                    <p class="icon has-text-primary is-large is-hidden-tablet"><i class="fas fa-3x fa-map-marker"></i></p>
                                    <p class="subtitle">Notice boards are categorised by UK post code district.</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="is-hidden-mobile">
                                    <span class="icon has-text-primary is-large"><i class="fas fa-3x fa-mouse"></i></span>
                                </td>                                
                                <td class="has-text-centered-mobile">                                    
                                    <p class="icon has-text-primary is-large is-hidden-tablet"><i class="fas fa-3x fa-mouse"></i></p>
                                    <p>
                                        <span class="has-text-weight-bold is-size-4">Browse for free!</span><br>
                                        <span class="has-text-dark is-italic">You can even save your favourite notice board to make it appear on this home page</span>
                                    </p>                                    
                                </td>
                            </tr>
                            <tr>
                                <td class="is-hidden-mobile">
                                    <span class="icon has-text-primary is-large"><i class="fas fa-3x fa-ad"></i></span>
                                </td>
                                <td class="has-text-centered-mobile">
                                    <p class="icon has-text-primary is-large is-hidden-tablet"><i class="fas fa-3x fa-ad"></i></p>
                                    <p class="has-text-weight-bold is-size-4">Create your own advert on any board for just 1p per day...</p>
                                </td>
                            </tr>
                        </tbody>                                                 
                    </table>                                                                                                           
                </div>                    
            </div>                
        </div>            
    </div>      
</article>    
{% endif %}
<hr>
<div class="hero is-primary">
    <div class="hero-body">
        <div class="columns">                
            <div class="column has-text-centered has-text-left-desktop">
                <h2 class="title">Advertise on Purple Pages</h2>
                <p class="subtitle">Just 1p per day!</p>
            </div>
            <div class="column has-text-centered has-text-right-desktop">
                <a href="{% url 'new_advert' %}" class="button is-large is-link">Get started now...</a>
            </div>
        </div>                                                                 
    </div>
</div>
{% endblock %}