{% extends 'base.html' %}
{% block main-content %}
<div class="level">
    <div class="level-item">
        <!-- Search form -->
        <form class="" action="">
            <div class="field has-addons">
                <div class="control">           
                    <input class="input is-large" type="text" name="search_string" placeholder="search for something..." value="{{ request.GET.search_string }}">               
                </div>
                <div class="control">
                    <button class="button is-primary is-large"><span class="icon is-large"><i class="fas fa-search"></i></span></button>
                </div>
            </div>        
        </form>
    </div>
</div>
<div class="level">
    <div class="level-item">
        <!-- Search Results -->
        <div class="card">
            <div class="card-body">
                {% if adverts %}
                    {% for ad in adverts %}
                    ad.render()
                    {% endfor %}
                {% else %}
                    No results here!
                {% endif %}
            </div>
        </div>
    </div>
</div>    
{% endblock %}