{% extends 'base.html' %}
{% block main-content %}
<div class="level">
    <div class="level-left">
        <div class="level-item has-text-centered has-text-left-tablet">            
            <h1 class="title">
                <span class="icon has-text-primary is-large"><i class="fas fa-search"></i></span>
                <br class="is-hidden-tablet">Search Results
            </h1>           
        </div>
    </div>
    <div class="level-right">
        <div class="level-item">        
            <!-- Search form -->
            <form>
                <div class="field has-addons">
                    <div class="control">           
                        <input class="input is-large" type="text" name="search_string" placeholder="search for something..." value="{{ request.GET.search_string }}">               
                    </div>
                    <div class="control">
                        <button class="button is-primary is-large"><span class="icon is-large"><i class="fas fa-search"></i></span></button>
                    </div>
                </div>        
            </form>
        </div>
    </div>    
</div>
<!-- Search Results -->
<div id="notice-board" class="card">   
    <div class="card-content">
        {% if adverts %}
        <div class="columns is-multiline">            
            {% for ad in adverts %}            
            <!-- Loop through ads and create column for each -->
            <div class="column is-half-tablet is-one-third-desktop">                
                <div class="tags is-marginless">
                {% for board in ad.boards.all %}
                    <span class="tag is-info">{{ board }}</span>            
                {% endfor %}
                </div>
                {{ ad.render }}                
            </div>                                           
            {% endfor %}
        </div>
        {% else %}
        <p class="has-text-grey">No results found, try adjusting your search...</p>
        {% endif %}
    </div>
</div>                  
{% endblock %}