{% extends 'base.html' %}
{% block main-content %}
<div class="level">
    <div class="level-item">
        <!-- Search form -->
        <form class="" action="">
            <div class="field has-addons">
                <div class="control">           
                    <input class="input is-large" type="text" name="search_string" placeholder="search for something..." value="{{ request.GET.search_string }}">               
                </div>
                <div class="control">
                    <button class="button is-primary is-large"><span class="icon is-large"><i class="fas fa-search"></i></span></button>
                </div>
            </div>        
        </form>
    </div>
</div>
<!-- Search Results -->
<div id="notice-board" class="card">
    <div class="card-header">
        <h3 class="card-header-title is-size-4 is-uppercase titan">Search Results</h3>
    </div>
    <div class="card-content">
        {% if adverts %}
        <div class="columns is-multiline">            
            {% for ad in adverts %}            
            <!-- Loop through ads and create column for each -->
            <div class="column is-half-tablet is-one-third-desktop">
                {{ ad.render }}  
            </div>                                           
            {% endfor %}
        </div>
        {% else %}
            {% if 'search_string' in request.GET %}
            <p class="has-text-grey">No results found</p>
            {% else %}
            <p class="has-text-grey">Enter a search term above...</p>
            {% endif %}        
        {% endif %}
    </div>
</div>                  
{% endblock %}