{% load static %}
<!-- Advert Template 1 -->
<article class="box has-background-{{advert.background_color_class}} advert content">
    <div class="columns is-vcentered">
        <div class="column is-two-thirds has-text-centered">
            <h2 class="title">{{ advert.title }}</h2>
            <p class="subtitle">{{ advert.strapline }}</p>
            <p class="advert-text-content">{{ advert.text_content }}</p>
        </div>
        <div class="column is-one-third">            
            <figure class="image is-square">
                {% if advert.image %}
                    <img src="{{ advert.image.url }}" alt="Ad Image Here">
                {% else %}
                    <img src="{% static 'img/ad_image_placeholder.jpg' %}" alt="Ad Image Here">
                {% endif %}
            </figure>
            <div class="is-clipped">
                <a class="button is-link" target="_blank" href="{{ advert.link_url }}">{{ advert.link_text }}</a>
            </div>        
        </div>
    </div>
</article>