<!-- Add or Edit Advert Template -->
{% extends 'base.html' %}
{% block main-content %}
    Add/Edit Template
    <form action="{{ request.path }}" method="POST">
        <table class="table">
            {{ advert_form.as_table }}
            {% csrf_token %} 
        </table>        
        <input type="submit" class="button" value="Submit">
    </form>

    Preview Area
    <div id="get-preview" class="button">Get Preview</div>
    <div id="preview-area"></div>    
{% endblock %}

{% block scripts %}
    <script>
        $('#get-preview').click(function() {
            // Get CSRF token from DOM
            let csrfToken = $("[name=csrfmiddlewaretoken]").val();
            // Build up the POST request data
            let postData = {
                'title':'testtitle',
                'field2':'test2',
                'field3':'test3',
                'csrfmiddlewaretoken':csrfToken,
            }
            // Make ajax request for advert preview
            $.post("{% url 'preview_advert' %}", postData , function(preview) {
                $('#preview-area').html(preview);             
            });            
        });
    </script>
{% endblock %}