<!-- Edit frame for user adverts on My Ads page -->
<div class="box">
    <div class="level">
        <div class="level-left">
            <a href="{% url 'edit_advert' ad.pk %}" class="button">Edit</a>
        </div>
        <div class="level-right">
            <a href="#" class="button">Delete</a>
            Toggle
        </div>
    </div>
    <div class="box">
        {{ ad.to_html }}
    </div>
    <p>Boards:
        {% for board in ad.board_list %}
            <span class="tag is-info">{{ board }}</span>
        {% endfor %}
    </p>
</div>