{% extends 'base.html' %}
{% block main-content %}
<div class="columns is-centered">
    <div class="column is-three-quarters-tablet is-half-desktop">
        <!-- Title and Intro -->
        <div class="level">
            <div class="level-left">
                <div class="level-item has-text-centered has-text-left-tablet">            
                    <h1 class="title">
                        <span class="icon has-text-primary is-large"><i class="fas fa-door-open"></i></span>
                        <br class="is-hidden-tablet">Login to Purple Pages
                    </h1>           
                </div>
            </div>               
        </div> 
        <!-- Login Form -->
        <div class="box content">            
            <form action="{% url 'login' %}" method="POST" class="form">
                {% include "bulma_form_template.html" %}
                <input type="hidden" name="next" value="{{ next }}">
                {% csrf_token %}
                <hr>
                <div class="field level">
                    <div class="level-left">
                        <div class="control level-item">
                            <a href="{% url 'password_reset' %}" class="button is-warning">Forgotten Password?</a>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="control level-item">
                            <button class="button is-link">Login</button>
                        </div>      
                    </div>                                                   
                </div>                             
            </form>
        </div>
        <div class="hero is-info">
            <div class="hero-body">
                <div class="columns">                
                    <div class="column has-text-centered has-text-left-desktop">
                        <h2 class="title">New here?</h2>
                        <p class="subtitle">Sign up to get started!</p>
                    </div>
                    <div class="column has-text-centered has-text-right-desktop">
                        <a href="{% url 'user_registration' %}" class="button is-large is-primary">Create An Account</a>
                    </div>
                </div>                             
            </div>
        </div>       
    </div>  
</div>
{% endblock %}