{% extends 'base.html' %}
{% block main-content %}
<div class="columns is-centered">
    <div class="column is-three-quarters-tablet is-half-desktop">
        <div class="box content">
            <h2>Login to Purple Pages</h2>
            <form action="{% url 'login' %}" method="POST" class="form">
                {% include "bulma_form_template.html" %}
                <input type="hidden" name="next" value="{{ next }}">
                {% csrf_token %}
                <hr>
                <div class="field level">
                    <div class="level-left">
                        <div class="control level-item">
                            <a href="{% url 'password_reset' %}" class="button is-warning">Forgotten Password?</a>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="control level-item">
                            <button class="button is-link">Login</button>
                        </div>      
                    </div>                                                   
                </div>                             
            </form>
        </div>        
    </div>  
</div>
{% endblock %}