{% extends 'base.html' %}
{% block main-content %}
<div class="columns is-centered">
    <div class="column is-three-quarters-tablet is-half-desktop">
        <!-- Title and Intro -->
        <div class="level">
            <div class="level-left">
                <div class="level-item has-text-centered has-text-left-tablet">            
                    <h1 class="title">
                        <span class="icon has-text-primary is-large"><i class="fas fa-lock-open"></i></span>
                        <br class="is-hidden-tablet">Request Password Reset
                    </h1>           
                </div>
            </div>               
        </div> 
        <!-- Password Reset Request Form -->
        <div class="box content">            
            <form action="{% url 'password_reset' %}" method="POST" class="form">
                {% include "bulma_form_template.html" %}                
                {% csrf_token %}
                <hr>
                <div class="field level">
                    <div class="level-left">
                        <div class="control level-item">
                            <a href="{% url 'login' %}" class="button is-warning">Cancel</a>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="control level-item">
                            <button class="button is-link">Reset Password</button>
                        </div>      
                    </div>                                                   
                </div>                             
            </form>
        </div>        
    </div>  
</div>
{% endblock %}