{% extends 'base.html' %}
{% block main-content %}
<div class="columns is-centered">
    <div class="column is-three-quarters-tablet is-half-desktop">
        <div class="box content">
            <h2>Password Reset</h2>
            <form action="{% url 'password_reset' %}" method="POST" class="form">
                {% include "bulma_form_template.html" %}                
                {% csrf_token %}
                <div class="field is-grouped is-grouped-right">            
                    <div class="control">
                        <button class="button is-info">Reset</button>
                    </div>
                    <div class="control">
                        <a href="{% url 'login' %}" class="button is-warning">Cancel</a>
                    </div>
                </div>                             
            </form>
        </div>        
    </div>  
</div>
{% endblock %}