<!-- Page showing all active boards -->
{% extends 'base.html' %}
{% block main-content %}
    <div class="columns is-multiline is-mobile is-centered">
    {% for board in active_boards %}
        <!-- Generate a column with box for every active board -->    
        <div class="column is-narrow">
            <div class="box">
                <h2 class="title is-3">{{ board.post_code }}</h2>
                <p class="subtitle">{{ board.name }}</p>
                <a href="{% url 'display_single_board' board.pk %}"><button class="button is-success">Go</button></a>
            </div>
        </div>             
    {% endfor %}
    </div>
    <div class="hero is-info">
        <div class="hero-body">
            <div class="is-pulled-right">
                <a href="{% url 'create_notice_board' %}" class="button is-large is-primary is-pulled-right">Create A Notice Board</a>   
            </div>                                
            <h2 class="title">Is your local notice board not here yet?</h2>
            <h3 class="subtitle">Be the first, start a new one today!</h3>
            
        </div>
    </div>
{% endblock %}