<!-- Notice Board Template -->
<div id="notice-board" class="box">
    <div class="level">
        <div class="level-left">
            <h3 class="is-size-4 is-uppercase has-text-white titan">{{ board_meta.postCodeDistrict }} - {{ board_meta.name }}</h3>            
        </div>       
    </div>
    <!-- All Adverts for Notice Board -->
    <div class="columns is-multiline">            
        {% for ad in adverts %}            
        <!-- Loop through ads and create column for each -->
        <div class="column">
            {{ ad.to_html }}  
        </div>                                           
        {% endfor %}
    </div>
</div>