<!-- Frame for a single notice board -->
{% extends 'base.html' %}
{% block main-content %}
<div class="level">
    <div class="level-left"></div>
    <div class="level-right">
        <div class="level-item">
            <div class="buttons has-addons">
                session:{{ request.session.favourite_board }}
                user: {{ request.user.ppuser.favourite_board }}
                {% if request.session.favourite_board == board_pk or request.user.ppuser.favourite_board == board_pk %}
                <!-- Icon for board is set as favourite -->
                <a href="{% url 'unset_favourite_board' board_pk %}" class="button is-info">UnSet</a>
                {% else %}
                <!-- Icon for board is not favourite -->
                <a href="{% url 'set_favourite_board' board_pk %}" class="button is-info">Set</a>
                {% endif %}
            </div>
            Current Favourite: {{ request.session.favourite_board }}
        </div>        
    </div>
</div>
    {{ notice_board }}
{% endblock %}