<!-- Notice Board Template -->
{{ board_meta.postCodeDistrict }} - {{ board_meta.name }}
<div class="box">
    <!-- All Adverts for Notice Board -->
    <div class="tile is-ancester">
        <div class="tile is-parent is-vertical">            
            {% for ad in adverts %}
            <!-- Loop through ads and create tile for each -->
            <div class="tile is-6 is-child">
                {{ ad.to_html }}  
            </div>                                           
            {% endfor %}
        </div>
    </div>
</div>