<!-- Single Notice Board Template -->
{% extends 'base.html' %}
{% block main-content %}
<div class="level">
    <div class="level-left">
        <div class="level-item has-text-centered">            
            <h1 class="title has-text-left-tablet">
                <a href="{% url 'notice_boards' %}">
                    <span class="icon has-text-primary is-large"><i class="fas fa-arrow-circle-left"></i></span>
                </a>
                <br class="is-hidden-tablet">{{ notice_board.post_code }} - {{ notice_board.name }}</h1>           
        </div>
    </div>
    <!-- Set/unset as favourite controls -->
    <div class="level-right">
        <div class="level-item">
            {% if request.session.favourite_board == notice_board.pk or request.user.favourite_board == notice_board %}
            <!-- Icon for board is set as favourite -->
            <a href="{% url 'unset_favourite_board' notice_board.pk %}" class="button is-primary">
                <span class="icon is-large"><i class="fas fa-bookmark"></i></span>
                <span class="has-text-white">Remove as Favourite</span>
            </a>
            {% else %}
            <!-- Icon for board is not favourite -->
            <a href="{% url 'set_favourite_board' notice_board.pk %}" class="button">
                <span class="icon is-large"><i class="far fa-bookmark"></i></span>
                <span class="has-text-grey">Set as Favourite</span>
            </a>
            {% endif %}                              
        </div>        
    </div>
</div>
<!-- Notice Board -->
<div id="notice-board" class="card">    
    <div class="card-content">
        <!-- All adverts for this notice board -->
        <div class="columns is-multiline">            
            {% for ad in adverts %}            
            <!-- Loop through ads and create column for each -->
            <div class="column is-half-tablet is-one-third-widescreen">
                {{ ad.render }}  
            </div>                                           
            {% endfor %}
        </div>
    </div>                  
</div>
{% endblock %}