/** SITE WIDE STYLING **/



/** FONTS **/

.titan {
    font-family: 'Titan One', cursive;
}

.no-list ul {
    list-style: none;
    margin: 0;
}

@media (min-width: 769px) {
    .height-400-tablet {
        min-height: 400px;
    }
}

/** HOME **/

#about-purple-pages-table td {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.pp-right-padding {
    padding-right: 1rem;
}

/** FORMS **/

.colour-swatch {
    height: 50px;
    width: 50px;
    border: 1px solid grey;
    border-radius: 10%;
    padding: 5px;
    margin: 10px;
}

#advert-preview-area,
#advert-preview-area-errors {
    display: none;
}

.pp-wide-input {
    width: 80%;
}

/** ADVERTS **/

.pp-has-background-white {
    background-color: #ffffff;
}

.pp-has-background-grey {
    background-color: rgb(122, 122, 122, 0.5);
}

.pp-has-background-info {
    background-color: rgb(0, 140, 177, 0.5);
}

.pp-has-background-success {
    background-color: rgb(10, 212, 58, 0.5);
}

.pp-has-background-warning {
    background-color: rgb(236, 235, 16, 0.5);
}

#pp-advert-hints-tips {
    position: sticky;
    top: 20px;
}

.advert-text-content {
    max-height: 300px;   
    background-color: inherit;
    white-space: pre-wrap;
    word-break: break-word;
}

.pp-bottom-margin {
    margin-bottom: 1rem;
}

.pp-full-width {
    width: 100%;
}

.pp-full-width select {
    width: 100%;
}

.pp-template-thumbnail {
    min-width: 150px;
    max-width: 300px;
}

/* SUBSCRIPTIONS */

#stripe-connection-error,
#stripe-payment-information,
#stripe-payment-form,
#stripe-card-errors,
#payment-control-buttons button,
#stripe-payment-success {
    display: none;
}

.table th, .table td {
    vertical-align: middle;
}

.StripeElement {   
    border: 1px solid #dbdbdb;
    background-color: white;
    border-radius: 4px;
    box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
    padding-bottom: calc(.5em - 1px);
    padding-left: calc(.75em - 1px);
    padding-right: calc(.75em - 1px);
    padding-top: calc(.5em - 1px);
}

.StripeElement--focus {
    border-color: #3273dc;
    box-shadow: 0 0 0 0.125em rgba(50,115,220,.25);
}

#stripe-card-errors {
    margin-bottom: 1.5rem;
}