{% extends 'base.html' %}
{% load static %}
{% block main-content %}
<div class="columns is-centered">
    <div class="column is-three-quarters-tablet is-half-desktop">
        <!-- Title and Intro -->
        <div class="level">
            <div class="level-left">
                <div class="level-item has-text-centered">            
                    <h1 class="title has-text-left-tablet"><span class="icon has-text-primary is-large"><i class="fas fa-user-circle"></i></span><br class="is-hidden-tablet">My Account</h1>           
                </div>
            </div>               
        </div>        
        <!-- User Profile Area -->
        <div class="columns is-vcentered">
            <div class="column has-text-centered pp-bottom-margin">
                <figure class="image container is-128x128">                   
                    {% if  request.user.get_short_name %}
                    <figcaption class="heading"> Hi {{ request.user.get_short_name }}</figcaption>
                    {% else %}
                    <figcaption class="heading"> Hi {{ request.user.username }}</figcaption>
                    {% endif %}
                    <img src="{% static 'img/user_account_avatar.svg' %}" alt="User Avatar">
                </figure>        
            </div>
            <div class="column">
                <div class="card has-text-centered">                    
                    <div class="card-content">
                        <p class="heading">Subscription Status</p>
                        {% if user_stats.subscription == 0 %}
                        <p class="title has-text-warning">No Subscription</p>
                        {% elif user_stats.subscription == 1 %}
                        <p class="title has-text-success">Active</p>
                        {% else %}
                        <p class="title has-text-danger">Expired</p>
                        {% endif %}
                    </div>
                </div>
                <div class="card has-text-centered">                    
                    <div class="card-content">
                        <p class="heading">Member Since</p>
                        <p class="title">{{ user_stats.date_joined }}</p>
                    </div>
                </div>
                <div class="card has-text-centered">
                    <div class="columns is-vcentered is-gapless card-content">
                        <div class="column">
                            <p class="heading">No. of Ads</p>
                            <p class="title">{{ user_stats.no_of_ads }}</p>
                        </div>
                        <div class="column">
                            <p class="heading">Total Ad Views</p>
                            <p class="title">{{ user_stats.total_add_views }}</p>
                        </div>
                    </div>                    
                </div>                
            </div>
        </div>        
    </div>
</div>
<!-- Profile Links Area -->
<div class="columns is-multiline is-vcentered">
    <div class="column has-text-centered">
        <a href="{% url 'my_ads' %}" class="button is-large is-primary">My Ads</a>
    </div>
    <div class="column has-text-centered">
        <a href="{% url 'my_subscription' %}" class="button is-large is-info">My Subscription</a>
    </div>
    <div class="column has-text-centered">
        <a href="{% url 'password_change' %}" class="button is-large is-warning is-light">Change Password</a>
    </div>
    <div class="column has-text-centered">
        <a href="{% url 'logout' %}" class="button is-large is-danger">Logout</a>
    </div>
</div>
{% endblock %}