{% extends 'base.html' %}
{% load static %}
{% block main-content %}
<!-- Title and Intro -->
<div class="level">
    <div class="level-left">
        <div class="level-item">
            <h1 class="title"><span class="icon has-text-primary is-large"><i class="fas fa-ad"></i></span> My Adverts</h1>
        </div>
    </div>
    <div class="level-right">
        <div class="level-item">
            <a href="{% url 'new_advert' %}" class="button is-medium is-primary is-pulled-right">Create Advert</a>
        </div>
    </div>    
</div> 
<!-- Users Own Notice Board -->
<div id="notice-board" class="card pp-bottom-margin">   
    <div class="card-content">
        <!-- All adverts for this notice board -->
        {% if adverts %}
        <div class="columns is-multiline">            
            {% for ad in adverts %}            
            <!-- Loop through ads and create column for each -->
            <div class="column is-half-tablet is-one-third-widescreen">
                <div class="card">
                    <!-- Ad header controls -->
                    <div class="card-header">
                        <div class="card-header-title">
                            <a href="{% url 'edit_advert' ad.pk %}" class="button is-warning">Edit</a>
                        </div>
                        <div class="card-header-icon">
                            <a href="#" class="delete is-large has-background-danger advert-delete-button" data-advertpk="{{ ad.pk }}"></a>                            
                        </div>
                    </div>
                    <!-- Advert -->
                    <div class="card-content">
                        {{ ad.render }} 
                    </div>                    
                    <!-- Ad footer controls -->
                    <div class="card-footer">
                        {% for board in ad.boards.all %}
                        <div class="card-footer-item">
                            <span class="tag is-info">{{ board }}</span>
                        </div>
                        {% endfor %}
                        <div class="card-footer-item">
                            <span class="tag is-primary">Views: {{ ad.view_counter }}</span>
                        </div>
                    </div>
                </div>
            </div>                                           
            {% endfor %}
        </div>
        {% else %}
        <div class="has-text-centered">
            <a href="{% url 'new_advert' %}" class="button is-primary">No Ads Yet - Get Started!</a>
        </div>         
        {% endif %}
    </div>                  
</div>
<!-- Create Ad CTA -->
<div class="hero is-info">
    <div class="hero-body">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <p class="title">Start a new advert today!</p>                  
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <a href="{% url 'new_advert' %}" class="button is-large is-primary is-pulled-right">Create Advert</a>
                </div>
            </div>               
        </div>                                                     
    </div>
</div>
<!-- Advert Delete Modal -->
<div id="advert-delete-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box has-text-centered">
            <p class="title has-text-danger">Definitely delete advert?</p>
            <p class="subtitle">This cannot be undone.</p>      
            <div class="level">
                <div class="level-left">
                    <div class="control level-item">
                        <button id="advert-delete-modal-cancel" class="button is-warning">Cancel</button>
                    </div>
                </div>
                <div class="level-right">
                    <div class="control level-item">
                        <a id="advert-delete-link" href="" class="button is-danger">Delete</a>
                    </div>      
                </div>                                                   
            </div>
        </div>       
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
{% endblock %}
{% block scripts %}
<script>
    // In template setup    
    let advertDeleteUrl = "{% url 'delete_advert' 9999 %}"
</script>
<script src="{% static 'js/my-ads.js' %}"></script>
{% endblock %}