{% extends 'base.html' %}
{% block main-content %}
<div class="columns is-centered">
    <div class="column is-three-quarters-tablet is-half-desktop">
        <!-- User Profile Area -->
        <div class="columns is-vcentered">
            <div class="column has-text-centered">
                <figure class="image container 
                is-128x128 has-background-grey">
                    <img src="" alt="" class="">
                    <figcaption class="heading">{{ request.user }}</figcaption>
                </figure>        
            </div>
            <div class="column">
                <div class="has-text-centered">
                    <div>
                        <p class="heading">Subscription Status</p>
                        <p class="title">{{ user_stats.subscription }}</p>
                    </div>
                </div>
                <div class="has-text-centered">
                    <div>
                        <p class="heading">Member Since</p>
                        <p class="title">{{ user_stats.date_joined }}</p>
                    </div>
                </div>
                <div class="has-text-centered">
                    <div>
                        <p class="heading">No of Ads</p>
                        <p class="title">{{ user_stats.no_of_ads }}</p>
                    </div>
                </div>                
                <div class="has-text-centered">
                    <div>
                        <p class="heading">Total Ad Impressions</p>
                        <p class="title">{{ user_stats.total_add_views }}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Profile Links Area -->
        <div class="columns is-multiline is-vcentered height-400-tablet">
            <div class="column is-half has-text-centered">
                <a href="" class="button is-large is-primary">My Ads</a>
            </div>
            <div class="column is-half has-text-centered">
                <a href="" class="button is-large is-info">My Subscription</a>
            </div>
            <div class="column is-half has-text-centered">
                <a href="{% url 'password_change' %}" class="button is-large is-warning is-light">Change Password</a>
            </div>
            <div class="column is-half has-text-centered">
                <a href="{% url 'logout' %}" class="button is-large is-danger is-light">Logout</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}