{% extends 'base.html' %}
{% load static %}
{% block main-content %}
<div class="columns is-centered">
    <div class="column is-three-quarters-tablet is-half-desktop">
        <!-- Suscription Status Area -->        
        <div class="card has-text-centered">                    
            <div class="card-content">
                <div class="columns">
                    <div class="column">
                        <h2 class="heading">Subscription Status</h2>
                        {% if request.user.subscription_status == 0 %}
                        <p class="title has-text-warning">No Subscription</p>
                        {% elif request.user.subscription_status == 1 %}
                        <p class="title has-text-success">Active</p>
                        {% else %}
                        <p class="title has-text-danger">Expired</p>
                        {% endif %}
                    </div>
                    <div class="column">
                        <p class="heading">Subscription Expires</p>
                        {% if request.user.subscription_expiry %}
                        <p class="title">{{ request.user.subscription_expiry }}</p>                
                        {% else %}
                        <p class="title">-</p>
                        {% endif %}
                    </div>
                </div>                
            </div>
        </div>
        <hr>                                                                    
        <!-- Payment Request Area -->
        <form id="subscription-form" action="" method="POST" class="form">
            <div class="columns is-vcentered">
                <div class="column is-two-thirds">
                    <div class="control">
                        <input type="hidden" class="input" name="payment-request-url" value="{% url 'create_payment' %}">
                    </div>                                            
                    <div class="control has-text-centered">
                        <label class="radio">
                            <input type="radio" name="subscription-period" value="100" required>
                            100 Days
                        </label>
                        <label class="radio">
                            <input type="radio" name="subscription-period" value="200" required>
                            200 Days
                        </label>
                        <label class="radio">
                            <input type="radio" name="subscription-period" value="300" required>
                            300 Days
                        </label>
                    </div>                                       
                </div>
                <div class="column">                    
                    <div class="control has-text-centered">
                        <button id="subscribe-button" class="button is-link is-light">Subscribe</button>
                    </div>                                                 
                </div>
                {% csrf_token %}
            </div>      
        </form>
        <hr>
        <!-- Make Payment Area -->
        <div id="stripe-connection-error" class="notification is-danger">            
            <a href="{% url 'my_subscription' %}" class="delete">Reset</a>
            <p>Sorry, there was an error connecting to the payment service. Please try again later.</p>
        </div>
        <p id="stripe-payment-information" class="title has-text-centered">                       
            <!-- Payment information area -->
        </p>
        <form id="stripe-payment-form" action="" class="form">
            <div id="stripe-card-element" class="field">
                <!-- Stripe input elements -->
            </div>            
            <div id="stripe-card-errors" class="field notification is-danger">
                <!-- Stripe errors -->
            </div>
        </form>
        <div id="payment-control-buttons" class="level">
            <div class="level-left">
                <div class="control level-item">
                    <a href="{% url 'my_subscription' %}">
                        <button id="payment-cancel-button" class="button is-warning">Cancel</button>
                    </a>
                </div>
            </div>
            <div class="level-right">
                <div class="control level-item">
                    <button id="stripe-submit" type="submit" form="stripe-payment-form" class="button is-primary">Make Payment</button>
                </div>      
            </div>                                                   
        </div>
        <div id="stripe-payment-success" class="field notification is-success has-text-centered">
            Payment sent successfully, thank you. Your subscription will be updated and the payment record will appear in the table below as soon as it is processed. Reloading this page in 10s.
        </div>            
        <hr>
        <!-- Payment Record Area -->
        <div class="level">
            <div class="level-item">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Amount (GBP)</th>
                            <th>Payment Reference</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        {% if payments %}
                            {% for payment in payments %}
                            <tr>
                                <th>{{ payment.payment_date }}</th>
                                <td>{{ payment.amount }}</td>
                                <td>{{ payment.stripe_ref }}</td>
                            </tr>
                            {% endfor %}
                        {% else %}
                        <tr>
                            <td>No payments yet...</td>
                        </tr>
                        {% endif %}
                    </tbody>    
                </table>
            </div>
        </div>        
    </div>
</div>
{% endblock %}
{% block scripts %}
<!-- Stripe JS -->
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'js/stripe.js' %}"></script>
{% endblock %} 