{% extends 'base.html' %}
{% load static %}
{% block main-content %}
<div class="columns is-centered">
    <div class="column is-three-quarters-tablet is-half-desktop">
        <!-- Suscription Status Area -->        
        <div class="card has-text-centered">                    
            <div class="card-content">
                <div class="columns">
                    <div class="column">
                        <h2 class="heading">Subscription Status</h2>
                        {% if request.user.subscription_status == 0 %}
                        <p class="title has-text-warning">No Subscription</p>
                        {% elif request.user.subscription_status == 1 %}
                        <p class="title has-text-success">Active</p>
                        {% else %}
                        <p class="title has-text-danger">Expired</p>
                        {% endif %}
                    </div>
                    <div class="column">
                        <p class="heading">Subscription Expires</p>
                        {% if request.user.subscription_expiry %}
                        <p class="title">{{ request.user.subscription_expiry }}</p>                
                        {% else %}
                        <p class="title">-</p>
                        {% endif %}
                    </div>
                </div>                
            </div>
        </div>
        <hr>                                                                    
        <!-- Payment Request Area -->
        <form id="subscription-form" action="" class="form">
            <div class="columns is-vcentered">
                <div class="column is-two-thirds">                                             
                    <div class="control has-text-centered">
                        <label class="radio">
                            <input type="radio" name="subscription-period" value="100" required>
                            100 Days
                        </label>
                        <label class="radio">
                            <input type="radio" name="subscription-period" value="200" required>
                            200 Days
                        </label>
                        <label class="radio">
                            <input type="radio" name="subscription-period" value="300" required>
                            300 Days
                        </label>
                    </div>
                    <div class="control">
                        <input type="hidden" class="input" name="payment-request-url" value="{% url 'create_payment' %}">
                    </div>                   
                </div>
                <div class="column">                    
                    <div class="control has-text-centered">
                        <button class="button is-link is-light">Subscribe</button>
                    </div>                                                 
                </div>
            </div>      
        </form>
        <!-- Make Payment Area -->
        <form id="stripe-payment-form" action="" class="form">
            <div id="stripe-card-element" class="field">
                <!-- Stripe input elements -->
            </div>            
            <div id="stripe-card-errors" class="field notification is-danger">
                <!-- Stripe errors -->
            </div>
            <div class="field level">
                <div class="level-left">
                    <div class="control level-item">
                        <button id="stripe-cancel" class="button is-warning">Cancel</a>
                    </div>
                </div>
                <div class="level-right">
                    <div class="control level-item">
                        <button id="stripe-submit" class="button is-primary">Make Payment</button>
                    </div>      
                </div>                                                   
            </div>
            
        </form>
        <hr>
        <!-- Payment Record Area -->
        <div class="level">
            <table class="level-item table">
                <thead>
                    <tr>
                        <th>Column1</th>
                        <th>Column2</th>
                        <th>Column3</th>
                        <th>Column4</th>
                    </tr>
                </thead>    
            </table>
        </div>        
    </div>
</div>
{% endblock %}
{% block scripts %}
<!-- Stripe JS -->
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'js/stripe.js' %}"></script>
{% endblock %} 