@charset "utf-8";

// PURPLE PAGES CUSTOMISATION OF BULMA FRAMEWORK

// Colors
$primary: #59187b;
$warning: #dfde17;
$success: #14ae39;
$info: #008cb1;
$link: #1cb1e4;
$danger: #dc2020;

$card-background-color: #dcdada;

// Layout
$body-background-color: #cab7d6;

@import "./bulma-0.8.0/bulma.sass";