{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Purple Pages</title>
    <!-- CSS Libraries -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">    		
</head>
<body>
    <header>
        <!-- Nav Bar -->
        <nav class="navbar">
            <div class="navbar-brand">
                <a href="{% url 'home' %}" class="navbar-item">Purple Pages</a>
                <a href="{% url 'boards' %}" class="navbar-item">Notice Boards</a>
                <a class="navbar-burger">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu">               
                <div class="navbar-end">
                    <a href="{% url 'my_ads' %}" class="navbar-item">My Ads</a>                    
                    <div href="#" class="navbar-item has-dropdown is-hoverable">
                        <!-- Dropdown Account Menu -->
                        <a href="{% url 'my_account' %}" class="navbar-link">My Account</a>
                        <div class="navbar-dropdown">
                            <a href="#" class="navbar-item">Overview</a>
                            <a href="#" class="navbar-item">Subscription</a>
                            <a href="#" class="navbar-item">Change Password</a>
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="navbar-item">
                        <form action="{% url 'logout' %}"><input type="submit" value="Logout"></form>
                    </div>                        
                    {% else %}
                        <a href="{% url 'login' %}" class="navbar-item">Login</a>
                    {% endif %} 
                </div>
            </div>
        </nav>
        <hr class="navbar-divider">
    </header>
    <section class="section">
        <div class="container">
            <h1 class="title is-1 has-text-centered">{{ page_title }}</h1>
        </div>
    </section>
    <section class="section">
        <div class="container">
            {% block main-content %}
            {% endblock %}
        </div>
    </section>
    <!-- JS Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <!-- App JS -->
    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>