{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Purple Pages</title>
    <!-- CSS Libraries -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <!-- Purple Pages CSS -->
    <link rel="stylesheet" href="{% static 'css/purple_pages_styles.css' %}">
    <!-- Fonts -->    		
    <link href="https://fonts.googleapis.com/css?family=Titan+One&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
    <header>
        <!-- Nav Bar -->
        <nav class="navbar">
            <div class="navbar-brand">
                <a href="{% url 'home' %}" class="navbar-item">                    
                    <img src="{% static 'img/PurplePagesIcon.png' %}" alt="Purple Pages Logo" class="">
                    <span class="titan is-size-5">Purple Pages</span>
                </a>
                <a href="{% url 'notice_boards' %}" class="navbar-item">Notice Boards</a>
                <a class="navbar-burger">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu">   
                <div class="navbar-start">
                    <div class="navbar-item">
                        <span class="tag">{{ request.user }}</span>
                    </div>                    
                </div>                          
                <div class="navbar-end">
                    <div class="navbar-item">
                        <form class="" action="{% url 'search' %}">
                            <div class="field has-addons">
                                <div class="control">           
                                    <input class="input" type="text" name="search_string" placeholder="search for something..." value="{{ request.GET.search_string }}">               
                                </div>
                                <div class="control">
                                    <button class="button is-primary"><span class="icon"><i class="fas fa-search"></i></span></button>
                                </div>
                            </div>        
                        </form>
                    </div>                    
                    <a href="" class="navbar-item">My Ads</a>                    
                    <div href="#" class="navbar-item has-dropdown is-hoverable">
                        <!-- Dropdown Account Menu -->
                        <a href="" class="navbar-link">My Account</a>
                        <div class="navbar-dropdown">
                            <a href="" class="navbar-item">Overview</a>
                            <a href="" class="navbar-item">Subscription</a>
                            <a href="" class="navbar-item">Change Password</a>
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="navbar-item">
                        <form action="{% url 'logout' %}"><input type="submit" value="Logout"></form>
                    </div>                        
                    {% else %}
                        <a href="{% url 'login' %}" class="navbar-item">Login</a>
                    {% endif %} 
                </div>
            </div>
        </nav>
        <hr class="navbar-divider">
    </header>
    <section class="section">
        <div class="container">
            <!-- Message Area -->
            {% if messages %}
                {% for message in messages %}
                    <div class="notification {% if message.tags %}is-{{message.tags}}{% endif %}">
                        <button class="delete"></button>
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
            <!-- Main Page Content -->
            {% block main-content %}
            {% endblock %}
        </div>
    </section>
    <!-- JS Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <!-- App JS -->
    <script src="{% static 'js/purple-pages.js' %}"></script>
    <!-- View specific scripting area -->
    {% block scripts %}
    {% endblock %}    
</body>
</html>